@import url(../footer/footer__author/footer__author.css);
@import url(.//footer__social-icon/footer__social-icon.css);
@import url(.//footer__columns/footer__columns.css);
@import url(.//footer__columns/footer__column-heading/footer__column-heading.css);
@import url(./footer__columns/footer__column-link/footer__column-link.css);
@import url(./footer__columns/footer__column-links/footer__column-links.css);
@import url(./footer__columns/footer__column_content_copyright/footer__column_content_copyright.css);
@import url(./footer__columns/footer__column_content_info/footer__column_content_info.css);
@import url(./footer__columns/footer__column_content_social/footer__column_content_social.css);


.footer{
  display: flex;
   background-color: #1f1f1f;
   min-height: 350px;
   color: #f2f2f2;

 }





