@import url(../cards/cards__description/cards__description.css);
@import url(../cards/cards__title/cards__title.css);
@import url(../cards/cards__image/cards__image.css);
@import url(../cards/cards__item/cards__item.css);
.cards{
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 920px;
  margin-right: auto;
  margin-left: auto;
}

